table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #2d2d2d;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  border: 1px solid #444;
}

th {
  cursor: pointer;
  background-color: #1c1c1c;
  padding: 12px 15px;
  position: relative;
  text-align: left;
  border-bottom: 2px solid #444;
  color: #ffcc00;
  font-weight: bold;
}

th:hover {
  background-color: #333;
}

th span {
  margin-left: 8px;
}

tr:nth-child(even) {
  background-color: #3a3a3a;
}

tr:nth-child(odd) {
  background-color: #2d2d2d;
}

td {
  padding: 12px 15px;
  border-bottom: 1px solid #444;
}

td a {
  color: #ffcc00;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

